
         #parent{
            width: 70%;
           /* height: 900px;*/  
           /* border: 1px solid red;*/
            display: grid;
            grid-template-columns: repeat(1,1fr);
            gap: 20px;
            margin-top: 120px;
            float: right ;
        }
        #parent>div{
            /*border: 1px solid black;*/
           /* height: 100px;*/
            width: 95%;
            margin: auto;
            padding: 10px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
    .image{
            width: 20%;
            
           
        }
        .heading{
            color: #aaa;
        margin-bottom: 10px;
        }
        #parent>div{
            display: flex;
            justify-content: space-around;
        }
        #parent>div>div{
            margin-top: -15px;
        }
        h2{
            margin-bottom: -10px;
        }
        #parent>div>div>h3{
        text-decoration: line-through   ;
        color: #aaa;
       }
       #poster{
        width: 100%;
        height: 125px;
       }
       #parent>div:hover{
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
       }
       h1{
        color: #aaa;
        margin-bottom: 10px;
       }
        /*css of navbbar*/
    /*nav bar*/
#logo{
    width: 20%;
}
#navbar {
    box-sizing: border-box;
    background-color: white;
    border: none;
    padding: 8px;
    box-shadow: 0px 0.5px 0px 0px rgb(202, 196, 196);
    height: 4rem;
    position: fixed; /* Set the navbar to fixed position */
    top: 0px; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    display: flex;
    justify-content: space-around;
}
#bold{
    font-weight: 700;
}
#innernav {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.wb{
    border: 1px solid white;
    border-radius: 4px;
    text-decoration: none;
    padding: 8px;
    margin: auto;
    margin: 2px 20px;
    color: black;
}
.loginlogo{
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
    width: auto;
}
.wb:hover{
    color:#1AC9B5;
}
.subscription-btn{
   
    border-radius: 4px;
    text-decoration: none;
    padding: 6px;
    margin: 5px 10px;
    height: 40%;
    vertical-align: middle;
    color: black;
}


.subscription-btn:hover{
    color: #1AC9B5;
}
#rightnav {
    display: flex;
    justify-content:space-evenly;
   

}
.btn_call{
  color:#1AC9B5 ;
  border-radius: 5px;
  border: 1px solid #1AC9B5;
  width: 100px;
  height: 40px;
}
#innernav >div>img>a{
  display: flex;
  width: 40%;
  border-left: 1px solid #aaa;
}
 
/*end of css navbaar    */
/*links*/
#links {
  display: flex;
  justify-content: space-evenly;
  padding: 1%;
  box-shadow: 2px 2px 5px 5px rgb(235, 235, 235);
  position: fixed; /* Set the navbar to fixed position */
    top: 50px; /* Position the navbar at the top of the page */
    width: 70%; /* Full width */
    background-color: white;
    float: right;
    margin-left: 35%;

}
#links > div {
  display: flex;
  list-style: none;
}
#links a {
  text-decoration: none;
  color:rgb(104, 100, 100);
  font-size: 30px;
}
#link a:focus{
color: teal;
}
#sortsalary{
  border: none;

}
/*end of links*/
/*left div*/
#left_div{
        width: 25%;
     
      /* border: 2px solid black;*/
        display: flex;
        flex-direction: column;
        float: left;
       padding: auto;
       margin-top: 1px;
       
      }
     #up{
        margin-top: 40px;
        width: 100%;
        display: flex;
        flex-direction: row;
       /*border: 1px solid red;*/
        font-size: 12px;
        margin-left: 15px;
        color: rgb(141, 138, 138);
        flex-wrap: wrap ;
      }
      #container{
        margin: 80px ;
      }
     
      #filter{
        color: rgb(122, 120, 120);
        font-weight: bold;
       
      }
      #select{
        font-weight: bold;
        font-size: 18px;
       
      }
      #left_div>select{
        border: none;
        height: 20px;
        border-bottom: 1px solid #aaa;
        margin-top: 10px;
      }
      #price_range>select {
        border: none;
        border-bottom: 1px solid #aaa;
        margin-top: 10px;
        margin-bottom: 10px;
        
      }
      #checkboxes>div{
      display: flex;
      flex-direction: column;
      gap: 15px;
      }
     
      .input-icons {
            width: 100%;
            margin-bottom: 10px;
            color: teal;
          
        }

         
      /*footer white*/
      #foooter{
        width: 100%;
        background-color: #F4F4F4;
    }
    #footerwhite{
        display: grid;
        width: 80%;
        grid-template-columns: repeat(3, 1fr);
        margin: auto;
        height: 100%;
        gap: 2%;
    }
    #footerwhite a{
        text-decoration: none;
        color: #44484e;
    }
    #footerwhite div{
        margin:50px;
        /* border: 1px solid cyan; */
    }
    #footerleft > img{
        width: 100%;
    }
    
    #footerwhite li{
        list-style: none;
        padding-bottom: 20px;
    }
    #about_us li a:hover{
      color:black;
      font-weight: 700;
    }
    .appbtn{
        width: 100%;
        display: flex;
        border: 1px solid #A8B5C0;
        border-radius: 4px;
        text-decoration: none;
        vertical-align: middle;
        color: black;
        margin-bottom: 10px;
        background-color:white;
    }
    
    .appbtn:hover{
      background-color:rgb(20, 228, 228) ;
    }
    .logoelem{
        height: 23px;
        width: 23px;
        object-fit: contain;
        object-position: center;
        vertical-align: middle;
        margin: 10px;
        padding: 6px;
    }
        /*SocialMediaHandles*/
    #socialhandles{
        display: flex;
        gap: 20px;
    }
    #socialhandles img{
        width: 50px;
        margin: auto;
    }
    #socialhandles img:hover{
      background-color:rgb(20, 228, 228) ;
    }
    

        /*left div end*/
        #navbar {
          box-sizing: border-box;
          background-color: white;
          border: none;
          padding: 8px;
          box-shadow: 0px 0.5px 0px 0px rgb(202, 196, 196);
          height: 4rem;
          position: fixed;
          /* Set the navbar to fixed position */
          top: 0px;
          /* Position the navbar at the top of the page */
          width: 100%;
          z-index: 1;
          /* Full width */
      }
      
      #innernav {
      
          width: 90%;
          margin: auto;
          display: flex;
          justify-content: space-between;
      }
      
      /* left navbar */
      #left-navbar {
          width: 30%;
          display: flex;
          align-items: center;
          margin-left: 40px;
          justify-content: space-evenly;
      }
      
      .logo {
          width: 37%;
          height: 90%;
      }
      
      .logo:nth-child(2) {
          height: 38%;
          border-left: 1px solid rgb(105, 105, 105);
          margin-left: 8px;
          width: 52%;
          padding: 8px 12px;
      }
      
      
      /* right nav */
      #rightnav {
          display: flex;
          justify-content: space-evenly;
      
      
      }
      
      .wb {
          border: 1px solid white;
          border-radius: 4px;
          text-decoration: none;
          padding: 8px;
          margin: auto;
          margin: 2px 20px;
          color: black;
          font-family: Poppins;
      }
      
      .loginlogo {
          vertical-align: middle;
          margin: 0px;
          padding: 0px;
      }
      
      .wb:hover {
          color: #1AC9B5;
      }
      
      .subscription-btn {
          border: 1px solid #A8B5C0;
          border-radius: 4px;
          text-decoration: none;
          padding: 6px;
          margin: 5px 20px;
          height: 40%;
          vertical-align: middle;
          color: black;
      }
      
      
      .subscription-btn:hover {
          color: #1AC9B5;
      } 